@mixin transition($duration:0.2s, $ease:linear) {
    -webkit-transition: all $duration $ease;	/* Android 2.1 - 4.3, Blackberry 7+ */
    transition: all $duration $ease;
}

@mixin transition-delay($delay:0.2s) {
    -webkit-transition-delay: $delay;	/* Android 2.1 - 4.3, Blackberry 7+ */
    transition-delay: $delay;
}

/* Example

a {
    @include transition(0.3s, ease-out);
}

*/